@import '../vars'
.left__side
    background-color: $white-color
    border-radius: 0 24px 24px 0
    position: relative
    &:before  
       content: ''
       position: absolute 
       right: 0
       top: 0
       height: calc( 100% - 32px ) 
       margin: auto 0
       box-shadow: 10px 0px 20px 0px rgba(0,0,0,0.35)
       width: 1px
.temp
    display: flex
    align-items: center
    justify-content: space-between
    &__gradus
        font-size: 96px
        margin-right: 12px
        white-space: nowrap
        font-weight: 300

i
    margin-right: 8px
    &:before
        font-size: 32px

.condition__text
    font-size: 32px

// .icon__near
//     margin-left: auto

.temp__details
    // color: $blue-color