@import '../vars'

.right__side
    background-color: $gray-color
    padding: 32px 48px!important
.todayBlock
    flex-wrap: wrap
    gap: 24px
.todayCard
    display: flex
    flex-direction: column
    align-items: center
    // justify-content: center
    border: 1px solid $gray-color
    border-radius: 12px
    background-color: $white-color
    padding: 20px 16px
    &__value
        font-size: 48px
        color: $blue-color

.forecastCard
    display: flex
    flex-direction: column
    align-items: center
    // justify-content: center
    border: 1px solid $gray-color
    border-radius: 12px
    background-color: $white-color
    padding: 20px 16px
    width: 100%