@import '../vars'

.ps
    height: 100vh

.city__modal
    &__error
        display: flex
        flex-direction: column
        text-align: center
        // padding-top: 120px
        position: relative
        top: 30%
        &__icon
            font-size: 64px
            margin-bottom: 40px
            color: $red-color
    &__icon
        position: absolute
        height: 16px
        width: 16px
        top: 24px
        right: 24px
        cursor: pointer
        transition: color 0.2s ease-in
        &__search
            position: absolute
            height: 16px
            width: 16px
            top: 8px
            right: 24px
            transition: color 0.2s ease-in
            cursor: pointer
            &:hover
                transition: color 0.2s ease-in
                color: $blue-color
        &:hover
            color: $blue-color
    &__elem
        padding: 12px
        transition: color 0.2s ease-in
        &:hover
            transition: color 0.2s ease-in
            color: $blue-color
            cursor: pointer

// .fade-in-enter-from,
// .fade-in-leave-to
//     opacity: 0

// .fade-in-enter-active,
// .fade-in-leave-active
//     transition: all 0.3s ease-in

// .fade-in-enter-to,
// .fade-in-leave-from
//     opacity: 0.7

// .slide-in-enter-from,
// .slide-in-leave-to
//     transform: translateX(-100%)

// .slide-in-enter-active,
// .slide-in-leave-active
//     transition: all 0.3s ease-out

// .slide-in-enter-to,
// .slide-in-leave-from
//     transform: translateX(0%)
